@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --article-background-color: #ededed;
    --dark-background-color: #659ef9;
}

body {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

.header {
    box-shadow: 4px 4px 6px 0px rgba(51,51,51,0.8);
    padding: 1rem 2rem;
    gap: 1rem;
}

.features {
    grid-template-columns: 1fr 1fr;
    
}

.search-section {
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

input {
    border: none;
    background-color: #d9d9d9;
    border-radius: 1rem;
    padding: 9px;
    min-width: 36vw;
}

.profile-section {
    justify-self: end;
    gap: 2rem;
    grid-template-columns: auto auto 1fr;
}

.btns {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
}

.btn {
    font-size: 1rem;
    padding: 0.75rem 2.5rem;
    border-radius: 2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting {
    grid-template-columns: auto 1fr;
    justify-self: start;
    gap: 1rem;
}

.username-text {
    font-size: 1.5rem;
}

.magnify {
    height: 1.5rem;
    width: 1.5rem;
}

.bell {
    height: 1.5rem;
    width: 1.5rem;
}

.account {
    height: 5rem;
    width: 5rem;
}

.small-account {
    height: 3rem;
    width: 3rem;
}

.article {
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    padding: 2rem 2rem 2rem 1rem;
    background-color: var(--article-background-color);
}

.card-container {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 2rem;
}

.card {
    padding: 2rem 1.5rem;
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 1rem;

    display: grid;
    grid-template-rows: 0fr 10rem 1fr;
}

.grid {
    display: grid;
}

.cc {
    justify-items: center;
    align-items: center;
}

.icons {
    max-width: max-content;
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.card-icon {
    width: 1.5rem;
}

.announcement {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.announcement:last-of-type {
    border: none;
}

.announcement-container {
    padding: 2rem 2rem 1rem 2rem;
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 1rem;

    margin-bottom: 2rem;
    gap: 1rem;
}

.announcement-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.trending-container {
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 1rem;
    padding: 1rem;

    gap: 0.5rem;
}

.trend-block {
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
}

.profile-picture {
    height: 100%;
    width: 100%;
}

.side-content {
    height: max-content;
}

.sidebar {
    background-color: lightblue;
    padding: 1rem;
}

.sidebar-container {
    grid-template-columns: 1fr 4fr;
    align-self: start;
    justify-self: start;
    gap: 1rem 1rem;
    justify-items: center;
    align-items: center;
}

.sidebar-container > img {
    height: 2rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

h2,
a {
    justify-self: start;
}

#logo {
    height: 4rem;
}

.mb {
    margin-bottom: 0.5rem;
}

.sidebar,
.btn {
    background-color: var(--dark-background-color);
}

.card,
.announcement-container,
.trending-container {
    background-color: white;
}

