@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    grid-template-columns: 1fr 4fr;
}

.header {
    box-shadow: 4px 4px 6px 0px rgba(51,51,51,0.8);
}

.features {
    grid-template-columns: 1fr 1fr;
    
}

.search-section {
    grid-template-columns: 1fr 9fr;
}

input {
    border: none;
    background-color: #d9d9d9;
    border-radius: 1rem;
    padding: 9px;
    min-width: 36vw;
}

.profile-section,
.btns {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.btns {
    gap: 1rem;
}

.btn {
    font-size: 1rem;
    padding: 0.75rem 2.5rem;
    border-radius: 2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.greeting {
    grid-template-columns: 1fr 1fr;
    justify-self: start;
}

.magnify {
    max-height: 60%;
    max-width: 60%;
}

.bell {
    max-height: 60%;
    max-width: 60%;
}

.account {
    max-height: 80%;
    max-width: 80%;
}

.article {
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    padding: 2rem 1.5rem;
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 1rem;

    display: grid;
    grid-template-rows: 0fr 13rem 1fr;
}

.grid {
    display: grid;
}

.cc {
    justify-items: center;
    align-items: center;
}

.icons {
    max-width: max-content;
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.card-icon {
    width: 1.5rem;
}

.announcement {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.announcement-container{
    padding: 2rem;
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 1rem;
}

.announcement-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trending-container {
    box-shadow: 4px 4px 6px 0px rgba(51, 51, 51, 0.8);
    border-radius: 1rem;
    padding: 1rem;
}

.trend-block {
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
}

.profile-picture {
    height: 100%;
    width: 100%;
}

